# script mode

In [7]:
num1=1
print("num1 is =",num1)
num2=3
print("num2 is =",num2)
num3=9
print("num3 is =",num3)
num4=num1+num2
print("addition of num1 and num2 is =",num4)
num5=num4-num2
print("difference of num4 and num2 is =",num5)

num1 is = 1
num2 is = 3
num3 is = 9
addition of num1 and num2 is = 4
difference of num4 and num2 is = 1

# Interactive mode

In [3]:
a=2
a

2

In [4]:
b=4
b

4

In [5]:
a
b

4

In [6]:
#to get both a adnd b values printed we use print function
print(a)
print(b)

2
4

In [13]:
c=a+b
c

6

In [14]:
d=c-b
d

2

# Getting location of jupiter note book

In [16]:
import os
os.getcwd()
#cwd=current working directory

'C:\\Users\\somes'

# using text pad

hii my name is rajesh
i am a student of sastra university
i live in kadapa

# using markdown

INDEX
--

>1.using data types

>>a)int

>>b)float

>>c)complex

>2.using functions

# Using concatenate(,)

In [8]:
a=1
print("a is =",a)
b=3
print("b is =",b)
c=9
print("c is =",c)
d=a+b
print("addition of a and b is =",d)
e=d-b
print("difference of d and b is =",e)

a is = 1
b is = 3
c is = 9
addition of a and b is = 4
difference of d and b is = 1

# using plus(+)

In [1]:
str1="rajesh"
str2="somesula"
str3 = str1+" "+str2
print("the result is " +" " + str3)

the result is  rajesh somesula

In [21]:
str1="rajesh"
str2="somesula"
print(str1+" " + str2)

rajesh somesula

# Using repetition

In [85]:
a="rajesh"
print(a)

rajesh

In [86]:
b=a*3
print(b)

rajeshrajeshrajesh

In [87]:
c="someusla"
print(c*3)

someuslasomeuslasomeusla

# complex numbers

In [29]:
#format of complex numbers should be always a+bj,a and b are numbers
a=2+3j
b=5+4j
c=a+b
print("the sum of a and b is =",c)

the sum of a and b is = (7+7j)

In [27]:
type(c)

complex

# should not use comma when working with large integers

In [30]:
#if we use comma when large integers are there it will work as tuple so no comma should be used
a=10,00,00,000
print(a)

(10, 0, 0, 0)

In [32]:
a=100000000
print(a)

100000000

# variables should always start with alphabet

In [34]:
#valid
a_1=1
b2=3
print(a_1)
print(b2)

1
3

In [35]:
#not valid
@a=1
1a=3

SyntaxError: invalid syntax (<ipython-input-35-4e2a2623885f>, line 2)

# forward index

In [40]:
str="rajesh somesula"
print("the string is =",str)

the string is = rajesh somesula

In [42]:
print(str[0])
print(str[1])
print(str[2])
print(str[3])
print(str[4])
print(str[5])

r
a
j
e
s
h

In [43]:
print(str[0:6])

rajesh

In [45]:
print(str[0:3])

raj

In [47]:
print(str[7:15])

somesula

# Backward index

In [49]:
print(str[-15])
print(str[-14])
print(str[-13])
print(str[-12])
print(str[-11])
print(str[-10])

r
a
j
e
s
h

In [50]:
print(str[-15:-9])

rajesh

In [51]:
print(str[-15:-12])

raj

In [57]:
print(str[-8:])

somesula

# order of operation

PEDMAS rule is followe in python
P=paranathesis
E=exponentation
D=division
M=multiplication
A=addition
S=subtraction
order of preference is P>E>D,M>A,S
also left to right associativity is followed

In [61]:
a=5-3+4/2*6
print(a)

14.0

In [62]:
b=5**3
print(b)

125

In [63]:
c=(a+b)-25*3+3**3/3
print(c)

73.0

In [65]:
d=c*a-b*3/4+(2+5-78/34)
print(d)

932.9558823529412

# type conversion

In [78]:
a="rajesh"
b=203
c=12.34
d={1,2,3,4,5}
print(a,b,c,d)

rajesh 203 12.34 {1, 2, 3, 4, 5}

In [67]:
int(c)

12

In [68]:
float(b)

203.0

In [69]:
tuple(d)

(1, 2, 3, 4, 5)

In [70]:
list(a)

['r', 'a', 'j', 'e', 's', 'h']

In [73]:
tuple(a)

('r', 'a', 'j', 'e', 's', 'h')

In [74]:
set(a)

{'a', 'e', 'h', 'j', 'r', 's'}