# LIST

In [8]:
list=[2.2,100,"rajesh","somesula"]
print(list)

[2.2, 100, 'rajesh', 'somesula']

In [9]:
list.append(200)
print(list)

[2.2, 100, 'rajesh', 'somesula', 200]

In [10]:
list.extend(["rajat"])
print(list)

[2.2, 100, 'rajesh', 'somesula', 200, 'rajat']

In [11]:
list.insert(7,"bhavana")
print(list)

[2.2, 100, 'rajesh', 'somesula', 200, 'rajat', 'bhavana']

In [12]:
list.remove("bhavana")
print(list)

[2.2, 100, 'rajesh', 'somesula', 200, 'rajat']

In [13]:
list.pop(0)
print(list)

[100, 'rajesh', 'somesula', 200, 'rajat']

In [14]:
list.index("rajesh")

1

In [15]:
list2=list.copy()
print(list2)

[100, 'rajesh', 'somesula', 200, 'rajat']

In [16]:
list.count("rajat")

1

In [17]:
list.reverse()
print(list)

['rajat', 200, 'somesula', 'rajesh', 100]

In [18]:
list.clear()
print(list)

[]

# Dictionary

In [89]:
dict={1:2,3:4,5:6,"simha":"balayya","indra":"chiru",}
print(dict)

{1: 2, 3: 4, 5: 6, 'simha': 'balayya', 'indra': 'chiru'}

In [90]:
dict.keys()
print(dict.keys())

dict_keys([1, 3, 5, 'simha', 'indra'])

In [91]:
dict.values()
print(dict.values())

dict_values([2, 4, 6, 'balayya', 'chiru'])

In [92]:
dict2=dict.copy()
print(dict2)

{1: 2, 3: 4, 5: 6, 'simha': 'balayya', 'indra': 'chiru'}

In [93]:
dict.get("simha")

'balayya'

In [94]:
dict.items()
print(dict.items())

dict_items([(1, 2), (3, 4), (5, 6), ('simha', 'balayya'), ('indra', 'chiru')])

In [95]:
dict.setdefault("simha")

'balayya'

In [96]:
dict.pop(3)
print(dict)

{1: 2, 5: 6, 'simha': 'balayya', 'indra': 'chiru'}

In [97]:
dict.popitem()

('indra', 'chiru')

In [99]:
dict.clear()
print(dict)

{}

In [100]:
dict1={10:100,20:200,"a":"c"}
dict2={"a":"b"}
dict1.update(dict2)
print(dict1)

{10: 100, 20: 200, 'a': 'b'}

In [102]:
dict3={1,2,3,4,5}
dict4=dict.fromkeys(dict3,9)
print(dict4)

{1: 9, 2: 9, 3: 9, 4: 9, 5: 9}

# Sets

In [114]:
set={1,2,3,4,5,6,1,6,5,4,3,2}
print(set)

{1, 2, 3, 4, 5, 6}

In [115]:
set.add(9)
print(set)

{1, 2, 3, 4, 5, 6, 9}

In [116]:
set.remove(9)
print(set)

{1, 2, 3, 4, 5, 6}

In [117]:
set100=set.copy()
print(set100)

{1, 2, 3, 4, 5, 6}

In [118]:
set.pop()

1

In [119]:
set.clear()
print(set)

set()

In [120]:
set1={1,2,3,4,5}
set2={6,7,8,9,1}
set3=set2.difference(set1)
print(set3)

{8, 9, 6, 7}

In [121]:
set4=set1.intersection(set2)
print(set4)

{1}

In [122]:
set5=set1.union(set2)
print(set5)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [124]:
set5.discard(9)
print(set5)

{1, 2, 3, 4, 5, 6, 7, 8}

In [125]:
print(set4.issubset(set1))

True

In [126]:
print(set5.isdisjoint(set2))

False

In [127]:
print(set3.issuperset(set1))

False

In [128]:
set6=set1.symmetric_difference(set2)
print(set6)

{2, 3, 4, 5, 6, 7, 8, 9}

In [129]:
seta={1,2,3,4,5}
setz={1,2,3,4,5,6,7}
setb={1,2,6,7,8}
seta.update(setz)
print(seta)
print(setb)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 6, 7, 8}

In [131]:
seta.difference_update(setb)
print(seta)

{3, 4, 5}

In [133]:
seta.intersection_update(setb)
print(setb)

{1, 2, 6, 7, 8}

In [135]:
seta.symmetric_difference_update(setb)
print(setb)

{1, 2, 6, 7, 8}