In [3]:
print("hi rajesh")

SyntaxError: unexpected EOF while parsing (<ipython-input-3-f3b6bd73f576>, line 1)

In [4]:
print("hello world")

hello world

# how to comment?

In [5]:
#hey this is a comment
print("ar u able to see a comment above me")

ar u able to see a comment above me

# what are data types nd objects?

In [6]:
#data types are basic building blocks which we use to store different kind of data in any programming language

In [10]:
#integer = whole number
num1=23
num2=24
num3=num1+num2
print(num3)

47

In [12]:
#flaot=decimal number
dec4=40.6
dec5=20.4
dec6=dec4+dec5
print(dec6)

61.0

In [13]:
#string=collection of chracters
str1="hi rajesh how are u"
print(str1)

hi rajesh how are u

In [14]:
type(num1)

int

In [15]:
type(dec4)

float

In [16]:
type(str1)

str

In [18]:
#list=collection of data types and variables
list1=["hiii",12,12.4,[1,"raj",3.6]]
print(list1)

['hiii', 12, 12.4, [1, 'raj', 3.6]]

In [20]:
list1[2]

12.4

In [21]:
list1[0]

'hiii'

In [24]:
list1[3][2]

3.6

In [28]:
#dictionary it is a object where we define key value pair ,it is un sequenced
lovename={"rajesh":"chandana","surya":"deepika","simha":"nayan"}
print(lovename)

{'rajesh': 'chandana', 'surya': 'deepika', 'simha': 'nayan'}

In [29]:
type(lovename)

dict

In [31]:
lovename.get("rajesh")

'chandana'

In [32]:
lovename.get("surya")

'deepika'

In [33]:
#sets = unordered collection of unique objects
set={2,3,4,5,6,3}
print(set)

{2, 3, 4, 5, 6}

In [34]:
type(set)

set

In [36]:
#tuples
birthyear=(2000,"rajesh","badvel")
print(birthyear)

(2000, 'rajesh', 'badvel')

In [37]:
#BOOLEAN
True

True

In [38]:
False

False

In [1]:
set.